/*Estilos da página inicial*/

* { /*reseta propriedades*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

html, body {
	font-size: 16px;
}


a.ancoraTOP { /*ancora para o topo*/
	position: fixed;
	bottom: 0px;
	right: 5%;
	background: #726541;
	color: #FFD44B;
	font-size: 0.80rem;
	border-radius: 4px 4px 0px 0px;
	padding: 0.5em;
	font-family: Roboto-Regular;
}
	
/*Medidas flexíveis, focado em MobileFirst*/

.header { /*Propriedades do CABEÇALHO*/
	width: 100vw;
	background: #91aaff;
	position: sticky;
	top: 0px;
	padding: 2.5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 10px grey;
}
/*Nav para resolução maiores que 1000px*, por padrão é oculta*/
.nav1000px { /*Deixa essa nav visivel apenas em telas maiores que 1000px*/
	display: none;
}

/*Propriedades do Cabeçalho*/
	h1.headerTitulo { /*Propriedades do Titulo*/
		order: 2;
		font-family: Gugi;
		color: #f0f0f0;
		background: #F3666B;
		font-size: 2.5rem;
		border-radius: 10px 10px;
		padding: 0.1em 0.1em;
		text-shadow: 3px 1px 5px black;
	}

	img.logo { /*Propriedades da LOGO*/
		order: 1;
		max-width: 15%;
		max-height: 15%;
	}

	button.btn { /*Estiliza botão de menu*/
		order: 3;
		border: 0;
		width: 36px;
		background: #0046B8;
		border-radius: 5px 5px;
		font-size: 1.5rem;
		transition: 150ms ease-in;
	}

	button.btn:hover { /*frescurinhas no ao passar mouse*/
		cursor: pointer;
		transform: scale(1.2);
		transition: 150ms ease-in;
	}

	img.imgBTN { /*coloca imagem de menu dentro do botão*/
		margin: auto;
		width: 100%;
		height: 100%;
	}
/*Fim das propriedades do cabeçalho*/

/*Propriedades da barra de navegação mobile (Menu)*/
	nav.nav { /*Propriedades da Nav*/
		width: 1px;
		height: 80%;
		float: right;
		background: transparent;
		border-radius: 0px 0px 0px 20px;
		padding: 0.5em 0.5em;
		right: 0vw;		
		position: fixed;
		border-top: initial;
		transition: 150ms ease-in;
	}

	.nav ul { /*ajusta ul dentro da nav*/
		list-style: none;
		text-align: center;
		visibility: hidden;
		font-size: 2rem;
		display: flex;
		height: 100%;
		justify-content: space-between;
		flex-direction: column;
		padding: 0.5em;
	}

	.nav ul li { /*coloca espaçamento entre as li*/
	}

	.nav ul li  a { /*arruma os links*/
		color: #f0f0f0;
		font-family: Roboto-Black;
		text-transform: uppercase;
		padding: 0.25em 0;
		background: #648ed1;
		display: block;
		border-radius: 10px 10px;
	}

	.nav ul li  a:hover {
		background: #0654D1;
	}

	button.fecharBTN { /*botão que fecha menu*/
		width: 30px;
		height: 30px;
		float: left;
		background: darkred;
		border: 0;
		visibility: hidden;	
		color: #f0f0f0;
		font-weight: bold;
	}

	button.fecharBTN:hover {
		cursor: pointer;
		transform: scale(1.2);
	}
/*Fim das propriedades do menu mobile*/

/*Propriedades do Indice lateral*/
	.aside { /*Indice*/
		width: 1px;
		padding: 0.5em;
		background: transparent;
		position: fixed;
		float: right;
		top: 21vh;
		font-size: 1.25rem;
	}


	.aside ul { /*Lista do indice*/
		list-style: none;
		visibility: hidden;
		text-align: center;
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.aside ul li {
		margin: 0.25em 0;
		background: #E7D76C;
	}

	.aside ul li a { 
		color: #440000;
		font-weight: bold;
		font-family: Roboto-Light;
		display: block;
		padding: 0.25em;
	}

	.aside ul li a:hover { 
		background: #B09641;
		color: #FFF092;
	}

	.indiceBTN { /*botao que abre o indice*/
		background: #A09B11;
		border: 0;
		color: #FFE800;
		font-weight: bold;
		padding: 0 0.3em;
		font-size: 1.5em;
		position: fixed;
		top: 21vh;
		left: 0px;
		border-radius: 0px 10px 10px 0px;
	}

	.indiceBTN:hover { /*frescurinhas ao passar mouse*/
		cursor: pointer;
	}

	.fIndiceBTN { /*botão que fecha indice*/
		float: right;
		border: 0;
		background: darkred;
		color: #f0f0f0;
		font-size: 1.3em;
		padding: 0 0.3em;
		font-weight: bold;
		visibility: hidden;
		top: 21vh;
		/*transition: 150ms ease-in;*/
	}

	.fIndiceBTN:hover {
		cursor: pointer;
		transform: scale(1.25);
		/*transition: 150ms ease-in;*/
	}
/*Fim das propriedades do indice*/

/*Essa classe marca os paragrafos com configurações genericas*/
p.paragrafosGlobal { /*Classe com propriedades que se aplicam a qualquer paragrafo*/
	font-family: OpenSans-Regular;
	font-size: 1.8em;
	border-radius: 5px 5px;
	padding: 0.5em 0.1em;
	text-align: center;
	text-shadow: 1px 1px 1px black;
}

/*Essa classe marca as seções com configurações genericas*/
section.secaoGlobal, footer.secaoGlobal { /*Igual a classe de cima, só que se aplica as seções, propriedades genericas que se aplicam a toda seções*/
	width: 100vw;
	padding: 5% 5%;
	display: flex;
	flex-wrap: wrap;
}

/*Primeira Seção - INTRODUCAO*/
	.intro { /*Seção Introdução*/
		min-height: 85vh;
		background: /*#ACD4FF*/#E1E9FF;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		align-content: space-around;
	}

	.intro p { /*Paragrafo da Intro*/
		color: /*#3C3A60*/;
		box-shadow: 1px 1px 10px #ACD4FF;
		background: #ACD4FF;
	}

	img.casa { /*imagem 1*/
		max-width: 50%;
		max-height: 50%;
	}

	img.carro3 { /*imagem2*/
		border-radius: 180px 180px;
		box-shadow: 0px 0px 10px grey;
		max-width: 50%;
		max-height: 50%;
	}
/*Fim da Primeira Seção-*/

/*Começo da segunda seção - HISTORICO*/
	.historico { /*Seção Histórico*/
		min-height: 85vh;
		background: #FFF4AA;
		align-items: center;
		justify-content: space-around;
		align-content: space-around;
	}

	.historico p { /*Paragrafo da Histórico*/
		background: #FFE93E;
		box-shadow: 1px 1px 10px #FFE93E;
		margin: 5%;
	}

	.historico figure { /*Ajusta as figures*/
		display: flex;
		flex-wrap: wrap;
		margin: 5%;
	}

	.historico figure img { /*Ajusta imagens*/
		width: 90%;
		margin: 0 auto;
		border-radius: 5px 5px;
		box-shadow: 1px 1px 10px black;
	}

	.historico figure figcaption { /*legenda da img*/
		margin: 1em auto;
		text-shadow: 1px 1px 1px black;
		font-family: Roboto-Light;
	}

	.imgHistorico { /*flexibiliza imagem dentro do figure*/
		width: 100%;
		height: 100%;
	}
/*Fim da Segunda Secao*/

/*Começo da Terceira Seção - DIFERENÇAS*/
	.diferencas { /*Configurações da diferenças*/
		background: #F1F1F1;
		align-content: center;
		justify-content: space-around;
	}

	.diferencas h1 { /*titulo*/
		font-size: 1.5rem;
		text-align: center;
		background: #DFDEDE;
		border-radius: 5px 5px;
		text-shadow: 1px 1px 1px black;
		padding: 0.25em 0.25em;
		box-shadow: 0px 0px 10px lightgrey;
		font-family: OpenSans-Regular;
	}

	.diferencas div { /*ajusta div */
		width: 90%;
		height: 50%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 1em auto;
	}

	.diferencas_img { /*ajusta as duas imagens*/
		width: 40%;
		height: 40%;
	}

	.diferencas div h3 { /*titulo da div*/
		font-size: 1.1em;
		align-self: center;
		letter-spacing: 0.1em;
		background: #DFDEDE;
		padding: 0.25em 0.25em;
		border-radius: 2px 2px;
		box-shadow: 0px 0px 5px grey;
		font-family: Roboto-Regular;
	}

	.diferencas div ul { /*ul da div*/
		list-style-position: inside;
		font-family: Roboto-Light;
		text-align: justify;
		background: #DFDEDE;
		padding: 0.25em 0.25em;
		border-radius: 2px 2px;
		box-shadow: 0px 0px 5px lightgrey;
		width: 100%;
		margin: 5% auto;
		font-size: 1.2em;
	}
/*Fim da terceira seção*/


/*Começo da quarta seção - TIPOS DE CARROS*/
	.tiposDeCarros { /*Seção de tipos de carros */
		background: /*#FFCFCC*/ #F8E6E6;
		min-height: 85vh;
		justify-content: space-around;
		align-content: space-around;
		align-items: center;
	}

	.tiposDeCarros h1 { /*titulo da seção*/
		font-family: OpenSans-Regular;
		text-shadow: 1px 1px 1px black;
		color: #f0f0f0;
		background: #FF8A8A;
		padding: 0.25em 0.25em;
		border-radius: 2px 2px;
		box-shadow: 0px 0px 5px #FF8A8A;
		margin: 2.5%;
		font-size: 1.5rem;
	}

	.tiposDeCarros div { /*ajusta as divs*/
		width: 100%;
		background: #FFE3E1;
		border-radius: 2px 2px;
		box-shadow: 0px 0px 5px #FFC6C2;
		padding: 5% 5%;
		margin: 2.5%;
	}

	.tiposDeCarros div h3 { /*titulo das divs*/
		font-size: 1.2em;
		font-family: OpenSans-Regular;
		letter-spacing: 0.1em;
	}

	.tiposDeCarros div img.imagem {
		width: 25%;
		margin: 0.5em;
	}

	.paragrafoTiposCarros { /*estilo generico para os 3 paragrafos*/
		font-family: Roboto-Regular;
		font-size: 1em;
		text-align: justify;
		text-indent: 1em;
	}
/*Fim da quarta seção*/

/*Começo da quinta seção - VANTAGENS E DESVANTAGENS*/
	.vantagens_desv  { /*seção*/
		justify-content: space-around;
		align-items: center;
		align-content: space-around;
		background: #DAFFAA;
		flex-flow: row wrap;
		min-height: 85vh;
	}

	.vantagens_desv img { /*define img*/
		width: 25%;
	}

	.vantagens_desv div { /*todas divs da seção*/
		width: 90%;
		padding: 1em 1em;
		margin: 1em 0;
		background: #B9F374;
		margin: 0 auto;
		font-family: OpenSans-Regular;
		border-radius: 2px 2px;
		box-shadow: 0px 0px 10px lightgreen;
		margin: 2.5%;
	}

	.vantagens_desv div ul { /*ajusta as bolinhas da ul*/
		list-style-position: inside;
	}
/*Fim da quinta seção*/
/*Começo da sexta seção*/
.rankingSusten {
	background: #BEF7FF;
	min-height: 85vh;
	/*flex-direction: column;*/
	align-items: center;
}

.rankingSusten h1 {
	font-family: OpenSans-Regular;
	text-shadow: 1px 1px 1px black;
	padding: 0.25em 0.25em;
	border-radius: 2px 2px;
	margin: 2.5%;
	font-size: 1.9rem;
	color: #4AE9FF;
	text-align: center;
}

.rankingSusten p {
	font-size: 1em;
	font-family: OpenSans-Light;
	line-height: 1.5em;
	text-align: justify;
	text-shadow: 1px 1px 1px black;
	width: 95%;
	margin: ;
}

.rankingSusten ul {
	background: #ABF5FF;
	list-style-position: inside;
	padding: 0.5em 0.5em;
	border-radius: 2px 2px;
	box-shadow: 0px 0px 5px grey;
	font-family: Roboto-Light;
	font-size: 1rem;
	list-style-type: square;
	margin: 0.5em auto;
}

.rankingSusten ul li:first-child {
	list-style-type: none;
	font-size: 1em;
	font-family: OpenSans-Light;
	text-shadow: 1px 1px 1px black;
}

.table {
	border: 2px solid #05E1FF;
	border-collapse: collapse;
	background: #ABF5FF;
	box-shadow: 0px 2.5px 5px grey;
	margin: 1.5em auto;
}

.table tr td, tr th {
	border: 2px solid #05E1FF;
	padding: 0.3em 0.5em;
	text-align: center;
}

.table .coloredRow {
	background: #85F1FF;
}


.table caption {
	font-family: Roboto-Regular;
	font-size: 1.1rem;
	border-top: 2px solid #05E1FF;
	border-right: inherit;
	border-left: inherit;
	padding: 0.3em 0;
}

.table  th, td {
	font-family: Roboto-Light;
}
/*Fim da sexta seção*/
/*Começo da sétima seção*/
.textSection {
	background: #F7E1FF;
	min-height: 85vh;
	justify-content: center;
	align-items: center;
}

h1.textSectionTitle {
	font-family: OpenSans-Regular;
	text-shadow: 1px 1px 1px black;
	padding: 0.25em 0.25em;
	border-radius: 2px 2px;
	margin: 2.5%;
	font-size: 1.9rem;
	text-align: center;
	color: #DB73FF;
	background: #F5D7FF;

}

p.textSectionPar1 {
	font-size: 1em;
	line-height: 1.5em;
	text-align: justify;
	text-shadow: none;
}

p.textSectionPar1.textSectionPar2 {
	font-size: 0px;
	transition: 100ms linear;
}

.lerMaisBTN {
	font-size: 1.25em;
	padding: 0.3em 0.5em;
	cursor: pointer;
	background: #DB73FF;
	color: #F7E1FF;
	border: 1px solid transparent;
	border-radius: 2.5px 2.5px;
	font-family: Roboto-Regular;
	transition: 75ms ease-out;
	align-self: flex-end;
}

.lerMaisBTN:hover {
	color: #DB73FF;
	background: #F7E1FF;
	border-color: #DB73FF;
	transform: scale(1.025);
	transition: 75ms ease-in;
}

/*fim da sétima seção*/

/*Começo da oitava seção*/

.modelosCarros {
	min-height: 85vh;
	background: #FFFDFD;
	flex-direction: column;
	align-items: center;
}

.modelosCarros h1 {
	font-family: OpenSans-Regular;
	text-shadow: 1px 1px 1px black;
	font-size: 1.9rem;
	background: #f0f0f0;
	padding: 0.3em 0.5em;
	margin: 0.5em auto;
}

.modelosCarros figure {
	background: #f0f0f0;
	margin: 0.5em auto;
	box-shadow: 0px 5px 5px grey;
	padding: 0.5em;
	text-align: center;
}

.modelosCarros figure figcaption {
	font-family: OpenSans-Light;
}

.modelosCarros figure img {
	max-width: 100%;
	margin: 0.5em 0;
}
/*fim da sétima seção*/

a.ancoraFooter { display: none;}


/*Propriedades do rodapé*/
	.footer { /*Rodapé*/
		min-height: 80vh;
		background: #5F5F5F;
		color: #CCCCCC;
		font-family: Roboto-Regular;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		align-content: space-around;
	}

	.footerTitle {
		font-family: Gugi;
		color: #CCCCCC;
		font-size: 2.5rem;
	}

	.sendMsgBTN {
		padding: 0.5em 0.75em ;
		color: #CCCCCC;
		background: #424242;
		border: 1px solid transparent;
		border-radius: 2px 2px;
		transition: 75ms ease-out;
	}

	.sendMsgBTN:hover {
		color: #f0f0f0;
		border-color: #424242;
		background: #5F5F5F;
		transition: 75ms ease-in;
		transform: scale(1.025);
	}

	.footerInfo {
		width: 90%;
		text-align: justify;
	}

	.footerInfo span {
		color: #f0f0f0;
		text-decoration: underline;
		text-decoration-color: #cccccc;
	}

	.footerDireitos {
		margin-top: 3rem;
		text-align: center;
	}


/*Fim do rodapé*/

/*Começo do uso de media queries*/
/*Ajustes leves*/

@media (min-width: 450px) and (max-width: 550px) { /*BREAKPOINT*/

	h1.headerTitulo { 
		font-size: 2rem;
	 } /*ajusta font do titulo*/
}


@media (max-width: 450px) {
	img.logo {
		max-width: 10%;
		max-height: 10%;
	}
}


@media (min-width: 450px) { /*BREAKPOINT*/

	.header { /*Cabeçalho*/ 
		height: 12vw;
		padding: 1%;
		justify-content: space-around;
	}

	img.logo { /*Logo*/
		max-width: 100%;
		max-height: 100%;
	}

	button.btn { /*Botão*/
		width: 36px;
	}

}


@media (min-width: 600px) { /*BREAKPOINT*/
	/*Cabeçalho*/
	.header { 
		padding: 1%;
		height: 12vw;
		justify-content: space-around;
	}
	/*Logo*/
	img.logo { 
		max-width: 100%;
		max-height: 100%;
	}
	/*Botão*/
	button.btn { 
		width: 36px;
	}
	/*Titulo da seção diferenças*/
	.diferencas h1 { 
		margin: 0.5em;
		font-size: 1.75rem;
	}
	/*Titulo da div*/
	.diferencas div h3 { 
		font-size: 1.1em;
	}
	/*Ajusta fonte dos item da ul*/
	.diferencas div ul { 
		font-size: 1.3rem;
	}
	 /*titulo*/
	.tiposDeCarros h1 {
		font-size: 1.75rem;
	}

	.tiposDeCarros div {  
		font-size: 1.25rem;
	}

	.vantagens_desv div {
		font-size: 1.25rem;
	}

	h1.textSectionTitle {
		font-size: 1.75rem;
	}

}


@media (min-width: 740px) { /*BREAKPOINT*/

	.header {
		height: 10vw;
	}

}


@media (min-width: 900px) { /*BREAKPOINT*/

	.header {
		height: 8vw;
	}

}


@media (min-width: 1000px) { /*BREAKPOINT*/


	.header {
		height: 100vh;
		position: initial;
		justify-content: center;
		flex-direction: column;
	}

	img.logo {
		max-width:30%;
		max-height: 50%;
	}

	h1.headerTitulo {
		font-size: 4rem;
	}

	button.btn {
		display: none;
	}

	nav.nav { /*oculta a nav mobile*/
		display: none;
	}

	nav.nav1000px { /*ajeita as propriedades da navbar para +1000px /*Mostra Nav em resoluções maiores, sem necessidade de menu*/
		width: 100vw;
		background: #5C8EE0;
		position: sticky;
		top: 0px;
		border-radius: initial;
		box-shadow: 0px 1px 10px #484848;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.25em 5%;
	}

	h3.navTitle {
		font-family: Gugi;
		color: #f0f0f0;
		background: #F3666B;
		font-size: 1.5rem;
		letter-spacing: 0.1em;
		border-radius: 10px 10px;
		padding: 0.1em 0.1em;
		text-shadow: 1px 1px 1px black;
		transition: 300ms ease-out;
	}

	.nav1000px ul { /*ajusta ul dentro da nav*/
		list-style: none;
		visibility: initial;
		display: flex;
		width: 75%;	
		align-items: center;
	}

	.nav1000px ul li {
		margin: 0 1em;
	}

	.nav1000px ul li a {
		font-family: Roboto-Regular;
		color: #f0f0f0;
		padding: 0.5em 0.5em;
		font-weight: bold;
		font-size: 0.85rem;
		transition: 75ms ease-out;
	}

	.nav1000px ul li a:hover {
		color: white;
		background: #0056E0;
		border-radius: 2px 2px;
		transition: 75ms ease-in;
	}

	a.ancoraTOP {
		display: none;
	}

	a.ancoraFooter {
	font-size: 1rem;
	background: #5F5F5F;
	color: #CCCCCC;
	font-family: Roboto-Regular;
	display: block;
	text-align: center;
	padding: 0.1em 0.1em;
	transition: 75ms ease-in;
	}
	
	a.ancoraFooter:hover {
	color: #f0f0f0;
	background: #8F8F8F;
	transition: 75ms ease-out;
}


}


